body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;}

.navbar {background-color: rgb(65, 37, 0); }
.navbar-collapse {padding-left: 40%;}
.navbar-collapse li a{color: white;}
.navbar-collapse li :hover{color: #c27926;}
.dropdown-menu li a {color: black;}
.d-flex i {margin: 0 5px 0 5px; color: white; font-size: 15px;}
.d-flex {margin-right: 50px;}
.d-flex i:hover {color: #c27926;}

/*--------------------------------------------------------------
# Our Mission start
--------------------------------------------------------------*/
.section-title {padding-top: 50px; }
.Services-bg {
  background-color: #fafcf6;}

.service_box {
  margin: 15px 0;
  padding: 40px 20px;
  text-align: center;
  border-radius: 5px;
  background: #8a4a00; ;
  transition: all 0.30s ease 0s;}

.service_box:hover {
  background: #4b1500;}

.service_box .service_icon {
  width: 70px;
  height: 70px;
  margin: 0 auto;
  font-size: 45px;
  background: #fff;
  line-height: 70px;
  border-radius: 50px;
  transform: translateY(0);
  transition: all 0.30s ease 0s;}

.service_box:hover .service_icon {
  transform: translateY(-100%);}

.service_box .service_icon i {
  color: #8a4a00;}

.section-title h2{text-align: center;}

.service_box h3 {
  position: relative;
  top: 40px;
  margin: 0;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  transform: translateY(0%);
  transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s;}

.service_box:hover h3 {
  top: -40px;}

.service_box p {
  color: #fff;
  margin: 0;
  opacity: 0;
  transition: all 0.30s linear 0s;}

.service_box:hover p {
  opacity: 1;}





/*--------------------------------------------------------------
# commitee start
--------------------------------------------------------------*/
.commitee h2{padding-top: 50px; text-align: center; font-weight: 700;}
.commitee p{font-size: 20px; font-weight: 500;}
.commitee h5{font-weight: bold; font-size: 25px;}
.commitee h4{font-size: 20px;}





/*--------------------------------------------------------------
# members start
--------------------------------------------------------------*/
.members h2{padding-top: 50px; text-align: center; font-weight: 700;}



#myInput {
  width: 100%; /* Full-width */
  font-size: 14px; /* Increase font-size */
  padding: 12px 20px 12px 20px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}

#myTable {
  border-collapse: collapse; /* Collapse borders */
  width: 100%; /* Full-width */
  border: 1px solid #ddd; /* Add a grey border */
  font-size: 14px; /* Increase font-size */
  font-family: Arial, Helvetica, sans-serif;
}

#myTable th, #myTable td {
  text-align: left; /* Left-align text */
  padding: 8px; /* Add padding */
}

#myTable tr {
  /* Add a bottom border to all table rows */
  border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
  /* Add a grey background color to the table header and on hover */
  background-color: #e9e9e9;
}

/*--------------------------------------------------------------
# gallery start
--------------------------------------------------------------*/
.gallery h2{padding-top: 50px; text-align: center; font-weight: 700;}

.gallery-container{
  padding-top: 25px;
  display:flex; 
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  position: relative;
}
.gallery-item {
  width: 300px;
  height: 300px;
  overflow: hidden;
  position:relative;
  display:flex;
  justify-content:center;
  align-items:center;
  margin: 10px;
  transition: 200ms ease-in-out;
  border-radius: 10px;
}


.gallery-item img{ 
  object-fit: cover;
   width: 300px;
   height: 300px;
   transition: 300ms ease-in-out;
}

.gallery-item img:hover{
  transform: scale(1.1);
  cursor: pointer;
}






/*--------------------------------------------------------------
# news start
--------------------------------------------------------------*/
.news h2{padding-top: 50px; text-align: center; font-weight: 700;}






/*--------------------------------------------------------------
# Contact start
--------------------------------------------------------------*/
.Contact-bg {
  background-color: #fafcf6;}

.Contact-bg h2{padding-top: 50px; text-align: center; font-weight: 700;}

#Contact .Contact-area {
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
  padding: 30px;
  margin-right: 30px;}

#Contact .Contact-area i {
  padding: 15px;
  background-color: #ffecda;
  border-radius: 90px;
  float: left;
  color: rgb(65, 37, 0); }

#Contact .address:hover i {
  background-color: rgb(65, 37, 0); ;
  transition: 0.7s;
  color: #FFF;}

#Contact .Contact-area h4 {
  padding: 0 0 0 60px;}

#Contact .Contact-area p {
  padding: 0 0 0 60px;
  margin-bottom: 20px;
  font-size: 14px;
  color: rgb(128, 128, 128);}

#Contact .form-area {
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
  padding: 30px;}

#Contact .col-lg-6 .your-name {
  margin-bottom: 30px;}

#Contact .col-lg-6 .subject {
  margin-bottom: 30px;}

.btn-div {
  text-align: center;}

button {
  background-color: rgb(65, 37, 0); ;
  padding: 7px 15px 7px 15px;
  border-radius: 10px;
  margin-top: 30px;
  color: white;
  font-size: 14px;}

button:hover {
  background-color: white;
  color: rgb(65, 37, 0); ;
  border: 1px #632700 solid;
  transition: 0.5s;}


  /*--------------------------------------------------------------
# footer start
--------------------------------------------------------------*/
#footer {
  text-align: center; margin-top: 50px;}

#footer p {
  margin: 0%;
  padding: 20px 0 20px 0;
  font-size: 12px;}


/*--------------------------------------------------------------
# Scroll To Top Button
--------------------------------------------------------------*/
#top-btn {
  width: 50px;
  height: 50px;
  bottom: -50px;
  right: 20px;
  position: fixed;
  text-align: center;
  border-radius: 100px;
  background-color: rgb(65, 37, 0); ;
  cursor: pointer;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.12), 3px 4px 8px 0px rgba(0, 0, 0, 0.11);
  -webkit-transition: all .8s;
  transition: all .8s;}

#top-btn:hover {
  background-color: #8a4a00;}

#top-btn:hover i {
  padding-top: 5px;}

#top-btn i {
  padding-top: 15px;
  font-size: 20px;
  line-height: 20px;
  color: #FFFFFF;
  -webkit-transition: all .8s;
  transition: all .8s;}

